# Bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Environment variables
.env

# Development tools
.idea/
.vscode/
*.swp
*.swo

# Operating System Files
.DS_Store
Thumbs.db
