# Bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Environment variables
.env
.flaskenv

# Development tools
.idea/
.vscode/
*.swp
*.swo

# Operating System Files
.DS_Store
Thumbs.db

# Ignore specific top-level file
/TODO.org

# Ignore Emacs temporary files
*~
\#*\#
.\#*
