<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GPDT2 Portal</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="container">
                <h1>Welcome to the GPDT2 Portal</h1>
                <p>This portal serves as a demonstration of the General Practice Data Trust part 2 (GPDT2), aiming to showcase the features and capabilities we're building to empower patients and improve healthcare outcomes through ethical and secure data use.</p>

                <p>As it stands, the GPDT2 demo is a dynamic representation of how data governance and patient consent can intersect within a digital framework. Our goal is to illustrate a future where patients have full transparency and control over how their medical data is used for research, without compromising their privacy or autonomy.</p>

                <p>Key features currently implemented in this demo include:</p>
                <ul>
                    <li><strong>Consent Management:</strong> Interactive tools allowing users to specify and modify their consent preferences for different types of research.</li>
                    <li><strong>Data Audit Logs:</strong> A comprehensive view of when and how patient data has been accessed, adhering to consent guidelines.</li>
                    <li><strong>Governance Overview:</strong> Insight into the governance structure of GPDT2, including the roles and responsibilities of board members.</li>
                </ul>
            <a href="{{ url_for('login') }}">Login</a>
        </div>
    </body>
</html>
